
.video {
  height: 70vh; 
  width: 50vw; /* Set it to 35% of the parent width */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Prevents overflow issues */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.aboutUsPage{
    display:flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    align-items: center;
}


video {
    width: 100%;
    height: auto;
    max-height: 100vh;
    
}


video:fullscreen {
    width: 100vw;
    height: 100vh;
}
.bio{
    width:50vw; 
    padding-left:2%;
   
    
} 
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:2%;
} 
#aboutUsImg{
    height:50vh;

}

.aboutUsPageTitle{
  background-color: #f7f7f7;
  width:100%; 
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  color:#333333;
}



#cactusImg{
    width:10vw;
}




/* Mobile Scaling */
@media screen and (max-width: 768px) {
    /* the below scaling only applies when width is 768px or less */
    .aboutUsPage {
        flex-direction: column; /* Stack items vertically */
        height: auto; /* Prevents forcing height that might cause spacing issues */
    }
    .bio{
        width:100vw; 
    }
    #aboutUsImg{
        height:40vh; 
    }
    .react-player {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;  /* Ensure it takes up the full width */
      height: 100%;  /* Ensure it scales correctly */
  }

  

    video {
        width: 100%;
        height: auto;
    }
    .video {
      width: 100vw;
      height: 50vh;  /* Adjust the height */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1%;
  }
  
}

