.subTitle{
    padding-left:10%;
    padding-right:10%;
    font-weight: normal;
}
.bornAgainTitle{
    display: flex;
    justify-content: center;
}
.step, .nextStep{
    display: flex;
    justify-content: center;
}
.bornAgainFullPage{
    font-family: 'Lora', serif;
    color:#333333;

}
.bornAgainLastSentence{
    display: flex;
    justify-content: center;
    padding-bottom:5%;
}
.bornAgainDiv{
    padding-left:20%;
    padding-right:20%;


}
.bornAgainBottomSection{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.baptismDiv{
    display: flex;
    justify-content: center;
}
#baptizedPic{
    padding-bottom:.5%;
    width:35vw; 
}

/* Mobile Scaling */
@media screen and (max-width: 768px) {
    /* the below scaling only applies when width is 768px or less */
    
    .bornAgainDiv{
        padding:0; 
    }
    #baptizedPic{
        width:70vw;
    }
    .deBold {
        padding-left: 0;  /* Remove any extra padding */
        text-align: left;  /* Ensure text aligns left */
        width: 100%;  /* Make sure it takes full width */
    }

    .bornAgainDiv {
        padding: 0 5%;  /* Add a little padding for readability */
    }
    .subTitle{
        padding:0;
    }

}



/* show christopher this and see if he likes it with a normal font weight. also ask him about saguaro cactus rotating size. It might look better huge*/
/* .deBold{
    font-weight: normal;
} */

