
/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
} */

.normalText{
    font-weight: normal;
}
.yaFullPage {
    overflow-x: hidden; 
    height: 100vh;  /* Covers the full viewport height */
    width: 100vw;   /* Ensures full width */  
    font-family: 'Lora', serif;
    color:#333333;
 
}

.yaTitle{
    display:flex;
    justify-content: center;
    padding-top:.5%;
}
h3{
    padding-left:10%;
    padding-right:10%;
}

#rc{

    padding:.5%;
    /* color:white;  */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h4{
    margin:0;
}
#lastSentence{
    display:flex;
    justify-content: center;
    padding-top:1%;
    padding-bottom:1%;
}

.bibleStudyList {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the child elements (columns) */
    justify-content: center; /* Centers the content vertically */
    width: 100%; /* Ensures it spans the full width */
}

.column {
    width: 30%; /* Adjust this to control the width of each column */
    max-width: 800px; /* Prevents it from getting too wide */
}
#bibleStudyArticleImage{
    width: 70%;
    height: 30vh;
    padding-top:1%;
}
.yaImage{
    display: flex;
    justify-content: center;

}
.yaSubTitle{
    padding-left:15%;
    padding-right:15%;
}
#mvbcChurch{
    width:30%;
    /* height:50%; */
}
#unleashedChurch{
    width:90%;
}
.unleashedChurchDiv{
    background-color: black;
 
    
}



/* Mobile Scaling */
@media screen and (max-width: 768px) {
    /* the below scaling only applies when width is 768px or less */
    
    .bibleStudyList {
        display: flex;
        flex-direction: column;
        align-items: center; /* Ensures centering */
        width: 100%;
    }

    .bibleStudyList ul {
        list-style-position: inside; /* Keeps bullets aligned closer to text */
        text-align: left; /* Ensures text is left-aligned */
        padding-left: 20px; /* Adjust as needed */
    }
    
    .bibleStudyList li {
        display: list-item; /* Ensures default list behavior */
        text-align: left; /* Aligns text left */
        width: auto; /* Allows content to adjust naturally */
    }
    
    .column {
        width: 100vw;
        text-align: center; /* Centers text */
    }

    .column img {
        width: 80vw;
        display: block;
        margin: 0 auto; /* Centers the image */
    }

    #mvbcChurch {
        width: 80vw;
        display: block;
        margin: 0 auto;
    }
    #bibleStudyArticleImage{
        width: 85%;
        height:50vw; 
    }
    .yaSubTitle{
        padding:0; 
    }

}


